<?xml version="1.0"?>
<model>
    <name> ms_quadcopter</name>
    <version> 0.1</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name> mrinmoy Sarkar</name>
        <email>sarkar.mrinmoy.bd@ieee.org</email>
    </author>

    <description>
        Quad Copter model
    </description>
</model>
    

